
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">MY Shop</a></li>
            <li class="main-header__item"><a class="active" href="/admin/add-product">Add Product</a></li>
            <li class="main-header__item"><a class="active" href=""></a></li>
            <li class="main-header__item"><a class="active" href="/cart">My Cart</a></li>
            <li class="main-header__item"><a href="/">Contact us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <!-- <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li> -->
        </ul>
    </nav>
</header>